<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Diagnóstico PC - Seleccionar Categoría</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Selecciona la Categoría del Problema</h1>
    <div class="form-container" style="background-color: transparent; border: none; box-shadow: none;"> {% for categoria in categorias %}
        <a href="/sintomas/{{ categoria }}" class="btn">{{ categoria.capitalize() }}</a>
        {% endfor %}
    </div>
</body>
</html>